* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #7F00FF;
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
    background: linear-gradient(to right, #E100FF, #7F00FF);

}

.container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fa-info {
    font-size: 20px;
    margin-left: 20px;
    background: #ffffff8f;
    padding: 10px 17px;
    border-radius: 50%;
    position: fixed;
    top: 1%;
    right: 2%;
}

.fa-info::after {
    position: absolute;
    left: -250%;
    content: "Click on ToDo text to mark as completed";
    width: 100px;
    font-size: 16px;
    font-weight: 100;
    text-align: start;
    background: #8000ff77;
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
    background: linear-gradient(to right, #E100FF, #7F00FF);
    color: white;
    padding: 8px;
    border-radius: 6px;
    display: none;
}

.fa-info:hover::after {
    display: block;
}


.todo-app-body {
    display: flex;
    
    justify-content: space-between;
    align-items: start;
    width: 500px;
    height: auto;
    padding: 20px 0 20px 20px;
    background: #ffffff76;
    box-shadow: 2px 6px 30px 2px #0000001d;
    border: 2px solid #0000001d;
    border-radius: 15px;
}

.todo-app-body input {
    flex: 1;
    padding: 5px;
    outline: none;
    border: 1px solid #0000001d;
    border-radius: 8px;
    background: #ffffff36;
}

.add-remove {
    margin: 2px 10px;
    display: flex;
}

.add,
.remove,
.delete-all-btn {
    padding: 8px;
    cursor: pointer;
}

.add {
    color: #8dd81d;
}

.remove {
    color: #c40a0a;
    margin-right: 10px;
}

.delete-all-btn {
    color: #c40a0a;
    position: relative;
}

/* ?list styling */

ul {
    list-style-type: none;
    width: 500px;
    height: auto;
    padding: 20px 0 20px 20px;
}

ul li {
    
    font-size: 1.4rem;
    color: #00000080;
    cursor: pointer;
    user-select: none;
    position: relative;
    width: 400px;
    word-wrap: break-word;
    margin-left: 10px;
}

.li-wrapper {
    display: flex;
    justify-content: space-between;
    background: #ffffff76;
    box-shadow: 2px 6px 30px 2px #0000001d;
    padding: 5px;
    margin-right: 20px;
}

.li-wrapper:first-child{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.li-wrapper:last-child{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.completed::before {
    position: absolute;
    content: "";

    width: 40px;
    height: 20px;
    background: transparent;
    border-bottom: 4px solid #528802;
    border-left: 4px solid #528802;
    border-bottom-left-radius: 10px;
    transform: rotate(-45deg);
}


/* delete all confirmation */
.delete-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    background: #0000009a;
    color: white;
    position: absolute;
    top: 0;
    border-radius: 6px;
    z-index: 100;
}
.delete-all .del{
    padding: 2px 15px;
    border: none;
    border-radius: 6px;
    outline: none;
    color: white;
}
.del-yes{
    background: #8dd81d;
}
.del-no{
 background: #c40a0a;
}


@media (max-width: 510px) {
    .todo-app-body {
        width: 300px;
    }
    .todo-app-body input{
        width: 60%;
    }

    ul {
        width: 300px;
    }
    .todo-app-body {
        padding-left: 10px;
    }
    .delete-all{
        width: 100%;
    }
}